In [72]:
# Dependencies
import pandas as pd
import numpy as np

In [73]:
# Load and read in AtheleteEvents
data_load1 = "../csv_data/athlete_events.csv"
athelte_data = pd.read_csv(data_load1)
athelte_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [74]:
# Select desired columns
medal_data = pd.DataFrame(athelte_data, columns=['Sex', 'Team', 'NOC', 'Games', 'Year', 'Season', 'City', 'Sport', 'Medal'])
medal_data.head()

,Sex,Team,NOC,Games,Year,Season,City,Sport,Medal
0,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,NaN
1,M,China,CHN,2012 Summer,2012,Summer,London,Judo,NaN
2,M,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,NaN
3,M,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Gold
4,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,NaN

In [75]:
# Drop NA medals
medal_data = medal_data.dropna(subset= ['Medal'])
medal_data.head()

,Sex,Team,NOC,Games,Year,Season,City,Sport,Medal
3,M,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Gold
37,M,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Bronze
38,M,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Bronze
40,M,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Bronze
41,M,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Bronze

In [76]:
# Bronze medals
bronze_df = medal_data.loc[medal_data["Medal"] == "Bronze"]
country_b = bronze_df.groupby("NOC")
country_b = country_b['Medal'].count()
bronze_medals = pd.DataFrame(country_b)
bronze_medals = bronze_medals.rename(columns={'Medal': 'Bronze'})
bronze_medals.head()

     Bronze
NOC
AFG       2
ALG       8
ANZ       5
ARG      91
ARM       9

In [77]:
# Silver medals
silver_df = medal_data.loc[medal_data["Medal"] == "Silver"]
country_s = silver_df.groupby("NOC")
country_s = country_s['Medal'].count()
silver_medals = pd.DataFrame(country_s)
silver_medals = silver_medals.rename(columns={'Medal': 'Silver'})
silver_medals.head()

     Silver
NOC
AHO       1
ALG       4
ANZ       4
ARG      92
ARM       5

In [78]:
# Gold medals
gold_df = medal_data.loc[medal_data["Medal"] == "Gold"]
country_g = gold_df.groupby("NOC")
country_g = country_g['Medal'].count()
gold_medals = pd.DataFrame(country_g)
gold_medals = gold_medals.rename(columns={'Medal': 'Gold'})
gold_medals.head()

     Gold
NOC
ALG     5
ANZ    20
ARG    91
ARM     2
AUS   348

In [79]:
bronze_silver_merge = bronze_medals.join(silver_medals)
country_medal_data = bronze_silver_merge.join(gold_medals)
country_medal_data = country_medal_data.fillna(0)
country_medal_data = country_medal_data.astype(int)
country_medal_data.head()

     Bronze  Silver  Gold
NOC
AFG       2       0     0
ALG       8       4     5
ANZ       5       4    20
ARG      91      92    91
ARM       9       5     2

In [80]:
# Save to CSV
country_medal_data.to_csv('../csv_data/country_medal_data.csv')

medal_data.to_csv('../csv_data/athlete_medal_data.csv')